<a href="https://colab.research.google.com/github/sku1978/sk-share-repo/blob/main/Spark/SparkDataFrame/SparkDataFrameNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq  > /dev/null 
!wget -q https://downloads.apache.org/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz > /dev/null 
!pip install -q findspark

In [2]:
!mkdir /content/conf /content/lib
!wget -O /content/conf/log4j.properties https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/conf/log4j.properties > /dev/null 2>&1
!mv /content/spark-3.1.1-bin-hadoop3.2/conf/spark-defaults.conf /content/spark-3.1.1-bin-hadoop3.2/conf/spark-defaults.conf.bk  > /dev/null 2>&1
!wget -O /content/spark-3.1.1-bin-hadoop3.2/conf/spark-defaults.conf https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/conf/spark-defaults.conf  > /dev/null 2>&1
!wget -O /content/conf/spark.conf https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/conf/spark.conf > /dev/null 2>&1

!wget -O /content/lib/logger.py https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/lib/logger.py  > /dev/null 2>&1
!wget -O /content/lib/utils.py https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/lib/utils.py  > /dev/null 2>&1

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

import findspark
findspark.init()
findspark.find()

'/content/spark-3.1.1-bin-hadoop3.2'

**Spark UI section**
<br>To use Spark UI, uncomment below sections and use the public link

In [4]:
#!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
#!unzip ngrok-stable-linux-amd64.zip
#get_ipython().system_raw('./ngrok http 4050 &')

In [5]:
#!curl -s http://localhost:4040/api/tunnels

**Main Section**

In [6]:
from pyspark.sql import *
from pyspark import SparkConf, SparkFiles
from lib.logger import Log4J
from lib.utils import get_spark_app_config

conf=get_spark_app_config()

spark = SparkSession.builder\
        .config(conf=conf)\
        .enableHiveSupport() \
        .getOrCreate()

logger = Log4J(spark)

**Basic CSV Read**

In [7]:
def load_csv_file(spark, url):
   spark.sparkContext.addFile(url)

   survey_df=spark.read \
   .format("csv") \
   .option("header", "true") \
   .option("inferSchema", "true") \
   .option("mode", "FAILFAST") \
   .load('file://'+SparkFiles.get("sample.csv"))

   return survey_df

def count_by_country(survey_df):
  count_df= survey_df.select("Age", "Gender", "Country", "State") \
                     .where("Age <= 40") \
                     .groupBy("Country") \
                     .count()
  return count_df

In [8]:
logger.info("Start CSV Load")

url='https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/sample.csv'

survey_df=load_csv_file(spark, url)
partitioned_survey_df=survey_df.repartition(2)

count_df=count_by_country(partitioned_survey_df)

logger.info(count_df.collect())

logger.info("End CSV Load")

**Data Types**<br>
(https://spark.apache.org/docs/2.2.0/api/python/pyspark.sql.html#module-pyspark.sql.types)

**CSV Read (CSV)**

In [9]:
from pyspark.sql.types import StructType, StructField, IntegerType, DateType, StringType

logger.info("Start Flight Time CSV Load")

url='https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/flight-time.csv'

spark.sparkContext.addFile(url)

flightSchemaStruct = StructType([StructField("FL_DATE", DateType(), True),
                                 StructField("OP_CARRIER", StringType(), True),
                                 StructField("OP_CARRIER_FL_NUM", IntegerType(), True),
                                 StructField("ORIGIN", StringType(), True),
                                 StructField("ORIGIN_CITY_NAME", StringType(), True),
                                 StructField("DEST", StringType(), True),
                                 StructField("DEST_CITY_NAME", StringType(), True),
                                 StructField("CRS_DEP_TIME", IntegerType(), True),
                                 StructField("DEP_TIME", IntegerType(), True),
                                 StructField("WHEELS_ON", IntegerType(), True),
                                 StructField("TAXI_IN", IntegerType(), True),
                                 StructField("CRS_ARR_TIME", IntegerType(), True),
                                 StructField("ARR_TIME", IntegerType(), True),
                                 StructField("CANCELLED", IntegerType(), True),
                                 StructField("DISTANCE", StringType(), True),
                                ])

flight_time_df=spark.read \
                    .format("csv") \
                    .option("header", "true") \
                    .option("mode", "FAILFAST") \
                    .option("dateFormat", "M/d/y") \
                    .schema(flightSchemaStruct) \
                    .load('file://'+SparkFiles.get("flight-time.csv"))

flight_time_df.show()

logger.info("End CSV Load")

+----------+----------+-----------------+------+----------------+----+--------------+------------+--------+---------+-------+------------+--------+---------+--------+
|   FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|ORIGIN_CITY_NAME|DEST|DEST_CITY_NAME|CRS_DEP_TIME|DEP_TIME|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|CANCELLED|DISTANCE|
+----------+----------+-----------------+------+----------------+----+--------------+------------+--------+---------+-------+------------+--------+---------+--------+
|2000-01-01|        DL|             1451|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1115|    1113|     1343|      5|        1400|    1348|        0|     946|
|2000-01-01|        DL|             1479|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1315|    1311|     1536|      7|        1559|    1543|        0|     946|
|2000-01-01|        DL|             1857|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1415|    1414|     1642|      9|        1721|    1651|        0|     946|
|2000-01-01|        DL|             1997|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1715|    1720|     1955|     10|        2013|    2005|        0|     946|
|2000-01-01|        DL|             2065|   BOS|      Boston, MA| ATL|   Atlanta, GA|        2015|    2010|     2230|     10|        2300|    2240|        0|     946|
|2000-01-01|        US|             2619|   BOS|      Boston, MA| ATL|   Atlanta, GA|         650|     649|      956|      7|         955|    1003|        0|     946|
|2000-01-01|        US|             2621|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1440|    1446|     1713|      4|        1738|    1717|        0|     946|
|2000-01-01|        DL|              346|   BTR| Baton Rouge, LA| ATL|   Atlanta, GA|        1740|    1744|     1957|      9|        2008|    2006|        0|     449|
|2000-01-01|        DL|              412|   BTR| Baton Rouge, LA| ATL|   Atlanta, GA|        1345|    1345|     1552|      9|        1622|    1601|        0|     449|
|2000-01-01|        DL|              299|   BUF|     Buffalo, NY| ATL|   Atlanta, GA|        1245|    1245|     1443|      5|        1455|    1448|        0|     712|
|2000-01-01|        DL|              495|   BUF|     Buffalo, NY| ATL|   Atlanta, GA|        2035|    2035|     2226|      9|        2241|    2235|        0|     712|
|2000-01-01|        DL|              677|   BUF|     Buffalo, NY| ATL|   Atlanta, GA|         710|     710|      940|      7|         925|     947|        0|     712|
|2000-01-01|        DL|              251|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        2040|    2100|     2235|      7|        2233|    2242|        0|     576|
|2000-01-01|        DL|             1003|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1635|    1838|     2020|     12|        1832|    2032|        0|     576|
|2000-01-01|        DL|             1501|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1430|    1435|     1623|     12|        1634|    1635|        0|     576|
|2000-01-01|        DL|             1907|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|         530|     530|      716|      4|         723|     720|        0|     576|
|2000-01-01|        DL|             2063|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1250|    null|     null|   null|        1449|    null|        1|     576|
|2000-01-01|        DL|             2111|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1845|    1855|     2041|      9|        2046|    2050|        0|     576|
|2000-01-01|        US|             2632|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|         710|     710|     null|   null|         905|    null|        0|     576|
|2000-01-01|        US|             2967|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1700|    1700|     1845|      6|        1853|    1851|        0|     576|
+----------+----------+-----------------+------+----------------+----+--------------+------------+--------+---------+-------+------------+--------+---------+--------+
only showing top 20 rows

**JSON Read**

In [10]:
logger.info("Start Flight Time JSON Load")

url='https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/flight-time.json'

spark.sparkContext.addFile(url)

flightSchemaDDL = """FL_DATE DATE, 
                     OP_CARRIER STRING, 
                     OP_CARRIER_FL_NUM INT,
                     ORIGIN STRING,
                     ORIGIN_CITY_NAME STRING,
                     DEST STRING,
                     DEST_CITY_NAME STRING,
                     CRS_DEP_TIME INT,
                     DEP_TIME INT,
                     WHEELS_ON INT,
                     TAXI_IN INT,
                     CRS_ARR_TIME INT,
                     ARR_TIME INT,
                     CANCELLED INT,
                     DISTANCE STRING"""

flight_time_df=spark.read \
                    .format("json") \
                    .option("dateFormat", "M/d/y") \
                    .schema(flightSchemaDDL) \
                    .load('file://'+SparkFiles.get("flight-time.json"))

flight_time_df.show()

logger.info("End JSON Load")

+----------+----------+-----------------+------+----------------+----+--------------+------------+--------+---------+-------+------------+--------+---------+--------+
|   FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|ORIGIN_CITY_NAME|DEST|DEST_CITY_NAME|CRS_DEP_TIME|DEP_TIME|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|CANCELLED|DISTANCE|
+----------+----------+-----------------+------+----------------+----+--------------+------------+--------+---------+-------+------------+--------+---------+--------+
|2000-01-01|        DL|             1451|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1115|    1113|     1343|      5|        1400|    1348|        0|     946|
|2000-01-01|        DL|             1479|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1315|    1311|     1536|      7|        1559|    1543|        0|     946|
|2000-01-01|        DL|             1857|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1415|    1414|     1642|      9|        1721|    1651|        0|     946|
|2000-01-01|        DL|             1997|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1715|    1720|     1955|     10|        2013|    2005|        0|     946|
|2000-01-01|        DL|             2065|   BOS|      Boston, MA| ATL|   Atlanta, GA|        2015|    2010|     2230|     10|        2300|    2240|        0|     946|
|2000-01-01|        US|             2619|   BOS|      Boston, MA| ATL|   Atlanta, GA|         650|     649|      956|      7|         955|    1003|        0|     946|
|2000-01-01|        US|             2621|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1440|    1446|     1713|      4|        1738|    1717|        0|     946|
|2000-01-01|        DL|              346|   BTR| Baton Rouge, LA| ATL|   Atlanta, GA|        1740|    1744|     1957|      9|        2008|    2006|        0|     449|
|2000-01-01|        DL|              412|   BTR| Baton Rouge, LA| ATL|   Atlanta, GA|        1345|    1345|     1552|      9|        1622|    1601|        0|     449|
|2000-01-01|        DL|              299|   BUF|     Buffalo, NY| ATL|   Atlanta, GA|        1245|    1245|     1443|      5|        1455|    1448|        0|     712|
|2000-01-01|        DL|              495|   BUF|     Buffalo, NY| ATL|   Atlanta, GA|        2035|    2035|     2226|      9|        2241|    2235|        0|     712|
|2000-01-01|        DL|              677|   BUF|     Buffalo, NY| ATL|   Atlanta, GA|         710|     710|      940|      7|         925|     947|        0|     712|
|2000-01-01|        DL|              251|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        2040|    2100|     2235|      7|        2233|    2242|        0|     576|
|2000-01-01|        DL|             1003|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1635|    1838|     2020|     12|        1832|    2032|        0|     576|
|2000-01-01|        DL|             1501|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1430|    1435|     1623|     12|        1634|    1635|        0|     576|
|2000-01-01|        DL|             1907|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|         530|     530|      716|      4|         723|     720|        0|     576|
|2000-01-01|        DL|             2063|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1250|    null|     null|   null|        1449|    null|        1|     576|
|2000-01-01|        DL|             2111|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1845|    1855|     2041|      9|        2046|    2050|        0|     576|
|2000-01-01|        US|             2632|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|         710|     710|     null|   null|         905|    null|        0|     576|
|2000-01-01|        US|             2967|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1700|    1700|     1845|      6|        1853|    1851|        0|     576|
+----------+----------+-----------------+------+----------------+----+--------------+------------+--------+---------+-------+------------+--------+---------+--------+
only showing top 20 rows

**Parquet Read**

In [11]:
logger.info("Start Flight Time Parquet Load")

url='https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/flight-time.parquet'

spark.sparkContext.addFile(url)

flight_time_df=spark.read \
                    .format("parquet") \
                    .option("inferSchema", "true") \
                    .load('file://'+SparkFiles.get("flight-time.parquet"))

flight_time_df.show()

logger.info("End Parquet Load")

+----------+----------+-----------------+------+----------------+----+--------------+------------+--------+---------+-------+------------+--------+---------+--------+
|   FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|ORIGIN_CITY_NAME|DEST|DEST_CITY_NAME|CRS_DEP_TIME|DEP_TIME|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|CANCELLED|DISTANCE|
+----------+----------+-----------------+------+----------------+----+--------------+------------+--------+---------+-------+------------+--------+---------+--------+
|2000-01-01|        DL|             1451|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1115|    1113|     1343|      5|        1400|    1348|        0|     946|
|2000-01-01|        DL|             1479|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1315|    1311|     1536|      7|        1559|    1543|        0|     946|
|2000-01-01|        DL|             1857|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1415|    1414|     1642|      9|        1721|    1651|        0|     946|
|2000-01-01|        DL|             1997|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1715|    1720|     1955|     10|        2013|    2005|        0|     946|
|2000-01-01|        DL|             2065|   BOS|      Boston, MA| ATL|   Atlanta, GA|        2015|    2010|     2230|     10|        2300|    2240|        0|     946|
|2000-01-01|        US|             2619|   BOS|      Boston, MA| ATL|   Atlanta, GA|         650|     649|      956|      7|         955|    1003|        0|     946|
|2000-01-01|        US|             2621|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1440|    1446|     1713|      4|        1738|    1717|        0|     946|
|2000-01-01|        DL|              346|   BTR| Baton Rouge, LA| ATL|   Atlanta, GA|        1740|    1744|     1957|      9|        2008|    2006|        0|     449|
|2000-01-01|        DL|              412|   BTR| Baton Rouge, LA| ATL|   Atlanta, GA|        1345|    1345|     1552|      9|        1622|    1601|        0|     449|
|2000-01-01|        DL|              299|   BUF|     Buffalo, NY| ATL|   Atlanta, GA|        1245|    1245|     1443|      5|        1455|    1448|        0|     712|
|2000-01-01|        DL|              495|   BUF|     Buffalo, NY| ATL|   Atlanta, GA|        2035|    2035|     2226|      9|        2241|    2235|        0|     712|
|2000-01-01|        DL|              677|   BUF|     Buffalo, NY| ATL|   Atlanta, GA|         710|     710|      940|      7|         925|     947|        0|     712|
|2000-01-01|        DL|              251|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        2040|    2100|     2235|      7|        2233|    2242|        0|     576|
|2000-01-01|        DL|             1003|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1635|    1838|     2020|     12|        1832|    2032|        0|     576|
|2000-01-01|        DL|             1501|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1430|    1435|     1623|     12|        1634|    1635|        0|     576|
|2000-01-01|        DL|             1907|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|         530|     530|      716|      4|         723|     720|        0|     576|
|2000-01-01|        DL|             2063|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1250|    null|     null|   null|        1449|    null|        1|     576|
|2000-01-01|        DL|             2111|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1845|    1855|     2041|      9|        2046|    2050|        0|     576|
|2000-01-01|        US|             2632|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|         710|     710|     null|   null|         905|    null|        0|     576|
|2000-01-01|        US|             2967|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1700|    1700|     1845|      6|        1853|    1851|        0|     576|
+----------+----------+-----------------+------+----------------+----+--------------+------------+--------+---------+-------+------------+--------+---------+--------+
only showing top 20 rows

**Write Avro file**<br>
Added <br>
spark.jars.packages                org.apache.spark:spark-avro_2.12:3.0.0
<br>to<br>
conf/spark-defaults.conf

In [12]:
from pyspark.sql.functions  import spark_partition_id

logger.info("Start Flight Time Parquet Load")

url='https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/flight-time.parquet'

spark.sparkContext.addFile(url)

flight_time_df=spark.read \
                    .format("parquet") \
                    .option("inferSchema", "true") \
                    .load('file://'+SparkFiles.get("flight-time.parquet"))

logger.info("End Parquet Load")
logger.info("Number of partitions: " + str(flight_time_df.rdd.getNumPartitions()))
#Even though there are two partitions, since the records are less, only one partition is used. Can repartition to get more partitions in o/p
logger.info("Records per partition: " + str(flight_time_df.groupBy(spark_partition_id()).count().collect()))

logger.info("Start Avro write")

flight_time_df.write \
              .format("avro") \
              .mode("overwrite") \
              .option("path", "dataSink/avro/") \
              .save()

logger.info("End Avro write")

In [13]:
!ls -l dataSink/avro/

total 13088
-rw-r--r-- 1 root root 13400431 Apr 13 06:02 part-00000-3ecfe627-485b-4fef-9771-aa4a2fb059bd-c000.avro
-rw-r--r-- 1 root root        0 Apr 13 06:02 _SUCCESS

**Partioned Write**

In [14]:
logger.info("Start Flight Time Parquet Load")

url='https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/flight-time.parquet'

spark.sparkContext.addFile(url)

flight_time_df=spark.read \
                    .format("parquet") \
                    .option("inferSchema", "true") \
                    .load('file://'+SparkFiles.get("flight-time.parquet"))

logger.info("Start Partitioned JSON write")

#To check file split at 10K records, look for this example
#!wc -l dataSink/json/OP_CARRIER\=DL/ORIGIN\=ATL/*
flight_time_df.write \
              .format("json") \
              .mode("overwrite") \
              .option("path", "dataSink/json/") \
              .partitionBy("OP_CARRIER", "ORIGIN") \
              .option("maxRecordsPerFile", 10000) \
              .save()

logger.info("End Partitioned JSON write")

In [15]:
!ls -l dataSink/json/

total 40
drwxr-xr-x  99 root root 4096 Apr 13 06:02 'OP_CARRIER=AA'
drwxr-xr-x  36 root root 4096 Apr 13 06:02 'OP_CARRIER=AS'
drwxr-xr-x  84 root root 4096 Apr 13 06:02 'OP_CARRIER=CO'
drwxr-xr-x 118 root root 4096 Apr 13 06:02 'OP_CARRIER=DL'
drwxr-xr-x  53 root root 4096 Apr 13 06:02 'OP_CARRIER=HP'
drwxr-xr-x 119 root root 4096 Apr 13 06:02 'OP_CARRIER=NW'
drwxr-xr-x  81 root root 4096 Apr 13 06:02 'OP_CARRIER=TW'
drwxr-xr-x 106 root root 4096 Apr 13 06:02 'OP_CARRIER=UA'
drwxr-xr-x  90 root root 4096 Apr 13 06:02 'OP_CARRIER=US'
drwxr-xr-x  58 root root 4096 Apr 13 06:03 'OP_CARRIER=WN'
-rw-r--r--   1 root root    0 Apr 13 06:03  _SUCCESS

**Managed tables**<br>
Config has been setup to write tables into *warehouse_location* folder

In [16]:
logger.info("Start Flight Time Parquet Load")

url='https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/flight-time.parquet'

spark.sparkContext.addFile(url)

flight_time_df=spark.read \
                    .format("parquet") \
                    .option("inferSchema", "true") \
                    .load('file://'+SparkFiles.get("flight-time.parquet"))

logger.info("Create database")
spark.sql("CREATE DATABASE IF NOT EXISTS AIRLINES_DB")
spark.catalog.setCurrentDatabase("AIRLINES_DB")

logger.info("Write table")
flight_time_df.write \
              .mode("overwrite") \
              .bucketBy(5,"OP_CARRIER", "ORIGIN") \
              .sortBy("OP_CARRIER", "ORIGIN") \
              .saveAsTable("flight_data_tbl")

spark.sql("SELECT * FROM AIRLINES_DB.flight_data_tbl").show(10)

logger.info(spark.catalog.listTables("AIRLINES_DB"))

+----------+----------+-----------------+------+----------------+----+--------------------+------------+--------+---------+-------+------------+--------+---------+--------+
|   FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|ORIGIN_CITY_NAME|DEST|      DEST_CITY_NAME|CRS_DEP_TIME|DEP_TIME|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|CANCELLED|DISTANCE|
+----------+----------+-----------------+------+----------------+----+--------------------+------------+--------+---------+-------+------------+--------+---------+--------+
|2000-01-01|        AA|              369|   CMH|    Columbus, OH| DFW|Dallas/Fort Worth...|         800|     752|      920|     14|         949|     934|        0|     927|
|2000-01-01|        AA|             1171|   CMH|    Columbus, OH| DFW|Dallas/Fort Worth...|        1850|    1843|     2025|      8|        2045|    2033|        0|     927|
|2000-01-01|        AA|             1807|   CMH|    Columbus, OH| DFW|Dallas/Fort Worth...|        1300|    1258|     1429|      9|        1454|    1438|        0|     927|
|2000-01-02|        AA|              369|   CMH|    Columbus, OH| DFW|Dallas/Fort Worth...|         800|     753|      935|     12|         949|     947|        0|     927|
|2000-01-02|        AA|             1171|   CMH|    Columbus, OH| DFW|Dallas/Fort Worth...|        1850|    1847|     2028|      8|        2045|    2036|        0|     927|
|2000-01-02|        AA|             1617|   CMH|    Columbus, OH| DFW|Dallas/Fort Worth...|         635|     632|      815|      7|         825|     822|        0|     927|
|2000-01-02|        AA|             1807|   CMH|    Columbus, OH| DFW|Dallas/Fort Worth...|        1300|    1258|     1445|      8|        1454|    1453|        0|     927|
|2000-01-03|        AA|              369|   CMH|    Columbus, OH| DFW|Dallas/Fort Worth...|         800|     758|      948|     11|         949|     959|        0|     927|
|2000-01-03|        AA|             1171|   CMH|    Columbus, OH| DFW|Dallas/Fort Worth...|        1850|    1848|     2056|      6|        2045|    2102|        0|     927|
|2000-01-03|        AA|             1617|   CMH|    Columbus, OH| DFW|Dallas/Fort Worth...|         635|     632|      835|      7|         825|     842|        0|     927|
+----------+----------+-----------------+------+----------------+----+--------------------+------------+--------+---------+-------+------------+--------+---------+--------+
only showing top 10 rows

In [17]:
!ls -lR spark-warehouse/

spark-warehouse/:
total 4
drwxr-xr-x 3 root root 4096 Apr 13 06:03 airlines_db.db

spark-warehouse/airlines_db.db:
total 4
drwxr-xr-x 2 root root 4096 Apr 13 06:03 flight_data_tbl

spark-warehouse/airlines_db.db/flight_data_tbl:
total 3844
-rw-r--r-- 1 root root 606771 Apr 13 06:03 part-00000-9d246f0e-3b2a-404d-87bf-7397e6105419_00000.c000.snappy.parquet
-rw-r--r-- 1 root root 889584 Apr 13 06:03 part-00000-9d246f0e-3b2a-404d-87bf-7397e6105419_00001.c000.snappy.parquet
-rw-r--r-- 1 root root 894879 Apr 13 06:03 part-00000-9d246f0e-3b2a-404d-87bf-7397e6105419_00002.c000.snappy.parquet
-rw-r--r-- 1 root root 867652 Apr 13 06:03 part-00000-9d246f0e-3b2a-404d-87bf-7397e6105419_00003.c000.snappy.parquet
-rw-r--r-- 1 root root 666858 Apr 13 06:03 part-00000-9d246f0e-3b2a-404d-87bf-7397e6105419_00004.c000.snappy.parquet
-rw-r--r-- 1 root root      0 Apr 13 06:03 _SUCCESS

**Log File/Raw Data/Unstructured Data handling**

In [18]:
from pyspark.sql.functions import *

logger.info("Start Log file load")

url='https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/apache_logs.txt'
spark.sparkContext.addFile(url)

raw_df=spark.read \
                    .format("text") \
                    .load('file://'+SparkFiles.get("apache_logs.txt"))

raw_df.printSchema()

log_reg = r'^(\S+) (\S+) (\S+) \[([\w:/]+\s[+\-]\d{4})\] "(\S+) (\S+) (\S+)" (\d{3}) (\S+) "(\S+)" "([^"]*)'

logs_df = raw_df.select(regexp_extract('value', log_reg, 1).alias('ip'),
                        regexp_extract('value', log_reg, 4).alias('date'),
                        regexp_extract('value', log_reg, 6).alias('request'),
                        regexp_extract('value', log_reg, 10).alias('referrer'))
logs_df.printSchema()

logs_df.withColumn('referrer', substring_index('referrer', '/',3)) \
       .where("trim(referrer) != '-' ") \
       .groupBy('referrer') \
       .count() \
       .show(100, truncate=False)

root
 |-- value: string (nullable = true)

root
 |-- ip: string (nullable = true)
 |-- date: string (nullable = true)
 |-- request: string (nullable = true)
 |-- referrer: string (nullable = true)

+-----------------------------------+-----+
|referrer                           |count|
+-----------------------------------+-----+
|http://www.semicomplete.com        |3038 |
|http://www.google.com              |123  |
|http://www.haskell.org             |1    |
|http://www.google.de               |18   |
|http://www.google.com.kh           |1    |
|https://www.google.at              |4    |
|http://www.google.fi               |4    |
|https://www.google.co.in           |13   |
|http://unix.stackexchange.com      |8    |
|http://www.google.com.tr           |1    |
|https://www.google.ru              |5    |
|http://images.google.com           |1    |
|http://avtoads.net                 |3    |
|http://www.google.co.in            |12   |
|https://www.google.no              |2    |
|http://t.co                        |3    |
|http://www.google.ee               |1    |
|http://www.adictosalared.com       |1    |
|http://www.google.ca               |6    |
|https://www.google.com.br          |9    |
|http://superuser.com               |2    |
|https://www.google.pl              |3    |
|http://kufli.blogspot.com          |10   |
|http://www.google.es               |25   |
|http://www.google.com.gt           |1    |
|http://ijavascript.cn              |1    |
|http://www.linux.org.ru            |4    |
|http://www.google.ch               |1    |
|https://www.google.ca              |3    |
|https://www.google.cz              |5    |
|http://www.google.com.ar           |3    |
|http://www.bing.com                |6    |
|http://www.google.it               |7    |
|http://blog.andreas-haerter.com    |1    |
|http://www.raspberrypi-spanish.es  |1    |
|http://www.google.com.mx           |4    |
|http://blog.float.tw               |3    |
|http://www.linuxquestions.org      |5    |
|https://www.google.si              |1    |
|http://www.google.co.jp            |2    |
|https://www.google.com.hk          |5    |
|http://www.google.com.sg           |2    |
|http://www.s-chassis.co.nz         |22   |
|http://www.xiaofang.me             |1    |
|http://www.reproductive-fitness.com|1    |
|http://www.oschina.net             |1    |
|https://www.google.co.za           |1    |
|http://www.google.nl               |4    |
|http://www.dual-boxing.com         |2    |
|http://zoomq.qiniudn.com           |1    |
|http://www.google.co.tz            |1    |
|http://rungie.com                  |1    |
|http://www.google.com.tw           |1    |
|http://kufli.blogspot.it           |1    |
|https://www.google.com.tr          |1    |
|http://www.am-se.com               |3    |
|http://tex.stackexchange.com       |1    |
|https://www.google.ba              |3    |
|http://znakomstvaonlain.ru         |3    |
|https://www.google.pt              |1    |
|http://simplestcodings.blogspot.in |1    |
|http://www.google.lv               |2    |
|http://www.google.be               |1    |
|https://www.google.com.au          |2    |
|http://www.davidsoncustom.com      |1    |
|http://lifehacker.com              |1    |
|http://www.google.com.mm           |1    |
|http://zolotoy-lis.ru              |3    |
|https://www.google.cl              |1    |
|http://www.mqseries.net            |1    |
|https://www.google.ee              |1    |
|http://yandex.ru                   |2    |
|http://community.spiceworks.com    |2    |
|http://www.google.si               |1    |
|http://es.wikipedia.org            |1    |
|http://kufli.blogspot.com.au       |1    |
|https://www.google.co.il           |2    |
|https://www.google.com.ar          |2    |
|http://blog.youxu.info             |1    |
|https://www.google.hu              |1    |
|https://encrypted.google.com       |2    |
|http://kufli.blogspot.hu           |2    |
|http://www.google.at               |1    |
|http://serverfault.com             |1    |
|http://forums.opensuse.org         |1    |
|http://doc.ubuntu-fr.org           |1    |
|http://www.ibm.com                 |1    |
|https://www.google.be              |1    |
|http://images.yandex.ru            |1    |
|http://www.google.md               |1    |
|http://semicomplete.com            |2001 |
|http://www.google.ro               |1    |
|http://en.wikipedia.org            |10   |
|https://www.google.de              |13   |
|http://www.google.fr               |31   |
|http://suckless.org                |3    |
|http://tuxradar.com                |12   |
|https://www.google.com             |105  |
|http://ubuntuforums.org            |4    |
|https://www.google.co.uk           |23   |
+-----------------------------------+-----+
only showing top 100 rows

**Handcrafted DataFrame creating Rows**

In [19]:
from pyspark.sql.types import *

my_schema=StructType([StructField("ID", StringType(), True),
                      StructField("EventDate", StringType(), True)])

my_rows=[Row("123", "21/03/2019"), 
         Row("234", "21/05/2029"), 
         Row("345", "01/02/2020"),
         Row("456", "09/12/2018"),
         Row("567", "03/06/2019"),]

my_rdd=spark.sparkContext.parallelize(my_rows, 2)

my_df=spark.createDataFrame(my_rdd, my_schema)

my_df.printSchema()
my_df.show()

new_df=my_df.withColumn('EventDate', to_date('EventDate', 'd/M/y'))

new_df.printSchema()
new_df.show()

root
 |-- ID: string (nullable = true)
 |-- EventDate: string (nullable = true)

+---+----------+
| ID| EventDate|
+---+----------+
|123|21/03/2019|
|234|21/05/2029|
|345|01/02/2020|
|456|09/12/2018|
|567|03/06/2019|
+---+----------+

root
 |-- ID: string (nullable = true)
 |-- EventDate: date (nullable = true)

+---+----------+
| ID| EventDate|
+---+----------+
|123|2019-03-21|
|234|2029-05-21|
|345|2020-02-01|
|456|2018-12-09|
|567|2019-06-03|
+---+----------+

**Column Expressions**

In [20]:
from pyspark.sql.types import StructType, StructField, IntegerType, DateType, StringType
from pyspark.sql.functions import *

logger.info("Start CSV Load")

url='https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/databricks-airlines.csv'

spark.sparkContext.addFile(url)

airlines_df=spark.read \
                    .format("csv") \
                    .option("header", "true") \
                    .option("mode", "FAILFAST") \
                    .option("inferSchema", "true") \
                    .option("samplingRatio", "0.5") \
                    .load('file://'+SparkFiles.get("databricks-airlines.csv"))

#shows three ways to refer to columns
airlines_df.select("Origin", col("Dest"), airlines_df.IsArrDelayed).show(10)

+------+----+------------+
|Origin|Dest|IsArrDelayed|
+------+----+------------+
|   SAN| SFO|         YES|
|   SAN| SFO|         YES|
|   SAN| SFO|         YES|
|   SAN| SFO|          NO|
|   SAN| SFO|         YES|
|   SAN| SFO|          NO|
|   SAN| SFO|         YES|
|   SAN| SFO|         YES|
|   SAN| SFO|         YES|
|   SAN| SFO|         YES|
+------+----+------------+
only showing top 10 rows

In [21]:
airlines_df.select("Origin", "Dest", "Distance", "Year", "Month", "DayOfMonth").show(10)

airlines_df.select("Origin", "Dest", "Distance", expr("to_date(concat(Year, Month, DayOfMonth), 'yyyyMMdd') as FlightDate")).show(10)

airlines_df.select("Origin", "Dest", "Distance", to_date(concat("Year", "Month", "DayOfMonth"), 'yyyyMMdd').alias("FlightDate")).show(10)

+------+----+--------+----+-----+----------+
|Origin|Dest|Distance|Year|Month|DayOfMonth|
+------+----+--------+----+-----+----------+
|   SAN| SFO|     447|1987|   10|        14|
|   SAN| SFO|     447|1987|   10|        15|
|   SAN| SFO|     447|1987|   10|        17|
|   SAN| SFO|     447|1987|   10|        18|
|   SAN| SFO|     447|1987|   10|        19|
|   SAN| SFO|     447|1987|   10|        21|
|   SAN| SFO|     447|1987|   10|        22|
|   SAN| SFO|     447|1987|   10|        23|
|   SAN| SFO|     447|1987|   10|        24|
|   SAN| SFO|     447|1987|   10|        25|
+------+----+--------+----+-----+----------+
only showing top 10 rows

+------+----+--------+----------+
|Origin|Dest|Distance|FlightDate|
+------+----+--------+----------+
|   SAN| SFO|     447|1987-10-14|
|   SAN| SFO|     447|1987-10-15|
|   SAN| SFO|     447|1987-10-17|
|   SAN| SFO|     447|1987-10-18|
|   SAN| SFO|     447|1987-10-19|
|   SAN| SFO|     447|1987-10-21|
|   SAN| SFO|     447|1987-10-22|
|   SAN| SFO|     447|1987-10-23|
|   SAN| SFO|     447|1987-10-24|
|   SAN| SFO|     447|1987-10-25|
+------+----+--------+----------+
only showing top 10 rows

+------+----+--------+----------+
|Origin|Dest|Distance|FlightDate|
+------+----+--------+----------+
|   SAN| SFO|     447|1987-10-14|
|   SAN| SFO|     447|1987-10-15|
|   SAN| SFO|     447|1987-10-17|
|   SAN| SFO|     447|1987-10-18|
|   SAN| SFO|     447|1987-10-19|
|   SAN| SFO|     447|1987-10-21|
|   SAN| SFO|     447|1987-10-22|
|   SAN| SFO|     447|1987-10-23|
|   SAN| SFO|     447|1987-10-24|
|   SAN| SFO|     447|1987-10-25|
+------+----+--------+----------+
only showing top 10 rows

**User Defined Function (UDF)**<br>
to be used as column expression

In [22]:
import re
def parse_gender(gender):
  female_pattern = r'^f$|f.m|w.m'
  male_pattern = r'^m$|ma|m.l'

  if re.search(female_pattern, gender.lower()):
    return "Female"
  elif re.search(male_pattern, gender.lower()):
    return "Male"
  else:
    return "Unknown"

In [23]:
url='https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/survey.csv'

spark.sparkContext.addFile(url)

survey_df=spark.read \
                    .format("csv") \
                    .option("header", "true") \
                    .option("mode", "FAILFAST") \
                    .option("inferSchema", "true") \
                    .load('file://'+SparkFiles.get("survey.csv"))

survey_df.show(10)

#Column object UDF (no entry in catalog)
parse_gender_udf=udf(parse_gender, StringType())
survey_df2=survey_df.withColumn("Gender", parse_gender_udf("Gender"))
survey_df2.show(10)

#SQL UDF (entry goes into catalog)
spark.udf.register("parse_gender_udf", parse_gender, StringType())
survey_df3=survey_df.withColumn("Gender", expr("parse_gender_udf(Gender)"))
survey_df3.show(10)

spark.catalog.listFunctions()

+-------------------+---+------+--------------+-----+-------------+--------------+---------+--------------+--------------+-----------+------------+----------+------------+----------------+----------+----------+------------------+-------------------------+-----------------------+------------+----------+-----------------------+---------------------+------------------+---------------+--------+
|          Timestamp|Age|Gender|       Country|state|self_employed|family_history|treatment|work_interfere|  no_employees|remote_work|tech_company|  benefits|care_options|wellness_program| seek_help| anonymity|             leave|mental_health_consequence|phys_health_consequence|   coworkers|supervisor|mental_health_interview|phys_health_interview|mental_vs_physical|obs_consequence|comments|
+-------------------+---+------+--------------+-----+-------------+--------------+---------+--------------+--------------+-----------+------------+----------+------------+----------------+----------+----------+------------------+-------------------------+-----------------------+------------+----------+-----------------------+---------------------+------------------+---------------+--------+
|2014-08-27 11:29:31| 37|Female| United States|   IL|           NA|            No|      Yes|         Often|          6-25|         No|         Yes|       Yes|    Not sure|              No|       Yes|       Yes|     Somewhat easy|                       No|                     No|Some of them|       Yes|                     No|                Maybe|               Yes|             No|      NA|
|2014-08-27 11:29:37| 44|     M| United States|   IN|           NA|            No|       No|        Rarely|More than 1000|         No|          No|Don't know|          No|      Don't know|Don't know|Don't know|        Don't know|                    Maybe|                     No|          No|        No|                     No|                   No|        Don't know|             No|      NA|
|2014-08-27 11:29:44| 32|  Male|        Canada|   NA|           NA|            No|       No|        Rarely|          6-25|         No|         Yes|        No|          No|              No|        No|Don't know|Somewhat difficult|                       No|                     No|         Yes|       Yes|                    Yes|                  Yes|                No|             No|      NA|
|2014-08-27 11:29:46| 31|  Male|United Kingdom|   NA|           NA|           Yes|      Yes|         Often|        26-100|         No|         Yes|        No|         Yes|              No|        No|        No|Somewhat difficult|                      Yes|                    Yes|Some of them|        No|                  Maybe|                Maybe|                No|            Yes|      NA|
|2014-08-27 11:30:22| 31|  Male| United States|   TX|           NA|            No|       No|         Never|       100-500|        Yes|         Yes|       Yes|          No|      Don't know|Don't know|Don't know|        Don't know|                       No|                     No|Some of them|       Yes|                    Yes|                  Yes|        Don't know|             No|      NA|
|2014-08-27 11:31:22| 33|  Male| United States|   TN|           NA|           Yes|       No|     Sometimes|          6-25|         No|         Yes|       Yes|    Not sure|              No|Don't know|Don't know|        Don't know|                       No|                     No|         Yes|       Yes|                     No|                Maybe|        Don't know|             No|      NA|
|2014-08-27 11:31:50| 35|Female| United States|   MI|           NA|           Yes|      Yes|     Sometimes|           1-5|        Yes|         Yes|        No|          No|              No|        No|        No|Somewhat difficult|                    Maybe|                  Maybe|Some of them|        No|                     No|                   No|        Don't know|             No|      NA|
|2014-08-27 11:32:05| 39|     M|        Canada|   NA|           NA|            No|       No|         Never|           1-5|        Yes|         Yes|        No|         Yes|              No|        No|       Yes|        Don't know|                       No|                     No|          No|        No|                     No|                   No|                No|             No|      NA|
|2014-08-27 11:32:39| 42|Female| United States|   IL|           NA|           Yes|      Yes|     Sometimes|       100-500|         No|         Yes|       Yes|         Yes|              No|        No|        No|    Very difficult|                    Maybe|                     No|         Yes|       Yes|                     No|                Maybe|                No|             No|      NA|
|2014-08-27 11:32:43| 23|  Male|        Canada|   NA|           NA|            No|       No|         Never|        26-100|         No|         Yes|Don't know|          No|      Don't know|Don't know|Don't know|        Don't know|                       No|                     No|         Yes|       Yes|                  Maybe|                Maybe|               Yes|             No|      NA|
+-------------------+---+------+--------------+-----+-------------+--------------+---------+--------------+--------------+-----------+------------+----------+------------+----------------+----------+----------+------------------+-------------------------+-----------------------+------------+----------+-----------------------+---------------------+------------------+---------------+--------+
only showing top 10 rows

+-------------------+---+------+--------------+-----+-------------+--------------+---------+--------------+--------------+-----------+------------+----------+------------+----------------+----------+----------+------------------+-------------------------+-----------------------+------------+----------+-----------------------+---------------------+------------------+---------------+--------+
|          Timestamp|Age|Gender|       Country|state|self_employed|family_history|treatment|work_interfere|  no_employees|remote_work|tech_company|  benefits|care_options|wellness_program| seek_help| anonymity|             leave|mental_health_consequence|phys_health_consequence|   coworkers|supervisor|mental_health_interview|phys_health_interview|mental_vs_physical|obs_consequence|comments|
+-------------------+---+------+--------------+-----+-------------+--------------+---------+--------------+--------------+-----------+------------+----------+------------+----------------+----------+----------+------------------+-------------------------+-----------------------+------------+----------+-----------------------+---------------------+------------------+---------------+--------+
|2014-08-27 11:29:31| 37|Female| United States|   IL|           NA|            No|      Yes|         Often|          6-25|         No|         Yes|       Yes|    Not sure|              No|       Yes|       Yes|     Somewhat easy|                       No|                     No|Some of them|       Yes|                     No|                Maybe|               Yes|             No|      NA|
|2014-08-27 11:29:37| 44|  Male| United States|   IN|           NA|            No|       No|        Rarely|More than 1000|         No|          No|Don't know|          No|      Don't know|Don't know|Don't know|        Don't know|                    Maybe|                     No|          No|        No|                     No|                   No|        Don't know|             No|      NA|
|2014-08-27 11:29:44| 32|  Male|        Canada|   NA|           NA|            No|       No|        Rarely|          6-25|         No|         Yes|        No|          No|              No|        No|Don't know|Somewhat difficult|                       No|                     No|         Yes|       Yes|                    Yes|                  Yes|                No|             No|      NA|
|2014-08-27 11:29:46| 31|  Male|United Kingdom|   NA|           NA|           Yes|      Yes|         Often|        26-100|         No|         Yes|        No|         Yes|              No|        No|        No|Somewhat difficult|                      Yes|                    Yes|Some of them|        No|                  Maybe|                Maybe|                No|            Yes|      NA|
|2014-08-27 11:30:22| 31|  Male| United States|   TX|           NA|            No|       No|         Never|       100-500|        Yes|         Yes|       Yes|          No|      Don't know|Don't know|Don't know|        Don't know|                       No|                     No|Some of them|       Yes|                    Yes|                  Yes|        Don't know|             No|      NA|
|2014-08-27 11:31:22| 33|  Male| United States|   TN|           NA|           Yes|       No|     Sometimes|          6-25|         No|         Yes|       Yes|    Not sure|              No|Don't know|Don't know|        Don't know|                       No|                     No|         Yes|       Yes|                     No|                Maybe|        Don't know|             No|      NA|
|2014-08-27 11:31:50| 35|Female| United States|   MI|           NA|           Yes|      Yes|     Sometimes|           1-5|        Yes|         Yes|        No|          No|              No|        No|        No|Somewhat difficult|                    Maybe|                  Maybe|Some of them|        No|                     No|                   No|        Don't know|             No|      NA|
|2014-08-27 11:32:05| 39|  Male|        Canada|   NA|           NA|            No|       No|         Never|           1-5|        Yes|         Yes|        No|         Yes|              No|        No|       Yes|        Don't know|                       No|                     No|          No|        No|                     No|                   No|                No|             No|      NA|
|2014-08-27 11:32:39| 42|Female| United States|   IL|           NA|           Yes|      Yes|     Sometimes|       100-500|         No|         Yes|       Yes|         Yes|              No|        No|        No|    Very difficult|                    Maybe|                     No|         Yes|       Yes|                     No|                Maybe|                No|             No|      NA|
|2014-08-27 11:32:43| 23|  Male|        Canada|   NA|           NA|            No|       No|         Never|        26-100|         No|         Yes|Don't know|          No|      Don't know|Don't know|Don't know|        Don't know|                       No|                     No|         Yes|       Yes|                  Maybe|                Maybe|               Yes|             No|      NA|
+-------------------+---+------+--------------+-----+-------------+--------------+---------+--------------+--------------+-----------+------------+----------+------------+----------------+----------+----------+------------------+-------------------------+-----------------------+------------+----------+-----------------------+---------------------+------------------+---------------+--------+
only showing top 10 rows

+-------------------+---+------+--------------+-----+-------------+--------------+---------+--------------+--------------+-----------+------------+----------+------------+----------------+----------+----------+------------------+-------------------------+-----------------------+------------+----------+-----------------------+---------------------+------------------+---------------+--------+
|          Timestamp|Age|Gender|       Country|state|self_employed|family_history|treatment|work_interfere|  no_employees|remote_work|tech_company|  benefits|care_options|wellness_program| seek_help| anonymity|             leave|mental_health_consequence|phys_health_consequence|   coworkers|supervisor|mental_health_interview|phys_health_interview|mental_vs_physical|obs_consequence|comments|
+-------------------+---+------+--------------+-----+-------------+--------------+---------+--------------+--------------+-----------+------------+----------+------------+----------------+----------+----------+------------------+-------------------------+-----------------------+------------+----------+-----------------------+---------------------+------------------+---------------+--------+
|2014-08-27 11:29:31| 37|Female| United States|   IL|           NA|            No|      Yes|         Often|          6-25|         No|         Yes|       Yes|    Not sure|              No|       Yes|       Yes|     Somewhat easy|                       No|                     No|Some of them|       Yes|                     No|                Maybe|               Yes|             No|      NA|
|2014-08-27 11:29:37| 44|  Male| United States|   IN|           NA|            No|       No|        Rarely|More than 1000|         No|          No|Don't know|          No|      Don't know|Don't know|Don't know|        Don't know|                    Maybe|                     No|          No|        No|                     No|                   No|        Don't know|             No|      NA|
|2014-08-27 11:29:44| 32|  Male|        Canada|   NA|           NA|            No|       No|        Rarely|          6-25|         No|         Yes|        No|          No|              No|        No|Don't know|Somewhat difficult|                       No|                     No|         Yes|       Yes|                    Yes|                  Yes|                No|             No|      NA|
|2014-08-27 11:29:46| 31|  Male|United Kingdom|   NA|           NA|           Yes|      Yes|         Often|        26-100|         No|         Yes|        No|         Yes|              No|        No|        No|Somewhat difficult|                      Yes|                    Yes|Some of them|        No|                  Maybe|                Maybe|                No|            Yes|      NA|
|2014-08-27 11:30:22| 31|  Male| United States|   TX|           NA|            No|       No|         Never|       100-500|        Yes|         Yes|       Yes|          No|      Don't know|Don't know|Don't know|        Don't know|                       No|                     No|Some of them|       Yes|                    Yes|                  Yes|        Don't know|             No|      NA|
|2014-08-27 11:31:22| 33|  Male| United States|   TN|           NA|           Yes|       No|     Sometimes|          6-25|         No|         Yes|       Yes|    Not sure|              No|Don't know|Don't know|        Don't know|                       No|                     No|         Yes|       Yes|                     No|                Maybe|        Don't know|             No|      NA|
|2014-08-27 11:31:50| 35|Female| United States|   MI|           NA|           Yes|      Yes|     Sometimes|           1-5|        Yes|         Yes|        No|          No|              No|        No|        No|Somewhat difficult|                    Maybe|                  Maybe|Some of them|        No|                     No|                   No|        Don't know|             No|      NA|
|2014-08-27 11:32:05| 39|  Male|        Canada|   NA|           NA|            No|       No|         Never|           1-5|        Yes|         Yes|        No|         Yes|              No|        No|       Yes|        Don't know|                       No|                     No|          No|        No|                     No|                   No|                No|             No|      NA|
|2014-08-27 11:32:39| 42|Female| United States|   IL|           NA|           Yes|      Yes|     Sometimes|       100-500|         No|         Yes|       Yes|         Yes|              No|        No|        No|    Very difficult|                    Maybe|                     No|         Yes|       Yes|                     No|                Maybe|                No|             No|      NA|
|2014-08-27 11:32:43| 23|  Male|        Canada|   NA|           NA|            No|       No|         Never|        26-100|         No|         Yes|Don't know|          No|      Don't know|Don't know|Don't know|        Don't know|                       No|                     No|         Yes|       Yes|                  Maybe|                Maybe|               Yes|             No|      NA|
+-------------------+---+------+--------------+-----+-------------+--------------+---------+--------------+--------------+-----------+------------+----------+------------+----------------+----------+----------+------------------+-------------------------+-----------------------+------------+----------+-----------------------+---------------------+------------------+---------------+--------+
only showing top 10 rows

[Function(name='!', description=None, className='org.apache.spark.sql.catalyst.expressions.Not', isTemporary=True),
 Function(name='%', description=None, className='org.apache.spark.sql.catalyst.expressions.Remainder', isTemporary=True),
 Function(name='&', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseAnd', isTemporary=True),
 Function(name='*', description=None, className='org.apache.spark.sql.catalyst.expressions.Multiply', isTemporary=True),
 Function(name='+', description=None, className='org.apache.spark.sql.catalyst.expressions.Add', isTemporary=True),
 Function(name='-', description=None, className='org.apache.spark.sql.catalyst.expressions.Subtract', isTemporary=True),
 Function(name='/', description=None, className='org.apache.spark.sql.catalyst.expressions.Divide', isTemporary=True),
 Function(name='<', description=None, className='org.apache.spark.sql.catalyst.expressions.LessThan', isTemporary=True),
 Function(name='<=', description=None, className='org.apache.spark.sql.catalyst.expressions.LessThanOrEqual', isTemporary=True),
 Function(name='<=>', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualNullSafe', isTemporary=True),
 Function(name='=', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualTo', isTemporary=True),
 Function(name='==', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualTo', isTemporary=True),
 Function(name='>', description=None, className='org.apache.spark.sql.catalyst.expressions.GreaterThan', isTemporary=True),
 Function(name='>=', description=None, className='org.apache.spark.sql.catalyst.expressions.GreaterThanOrEqual', isTemporary=True),
 Function(name='^', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseXor', isTemporary=True),
 Function(name='abs', description=None, className='org.apache.spark.sql.catalyst.expressions.Abs', isTemporary=True),
 Function(name='acos', description=None, className='org.apache.spark.sql.catalyst.expressions.Acos', isTemporary=True),
 Function(name='acosh', description=None, className='org.apache.spark.sql.catalyst.expressions.Acosh', isTemporary=True),
 Function(name='add_months', description=None, className='org.apache.spark.sql.catalyst.expressions.AddMonths', isTemporary=True),
 Function(name='aggregate', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayAggregate', isTemporary=True),
 Function(name='and', description=None, className='org.apache.spark.sql.catalyst.expressions.And', isTemporary=True),
 Function(name='any', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolOr', isTemporary=True),
 Function(name='approx_count_distinct', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.HyperLogLogPlusPlus', isTemporary=True),
 Function(name='approx_percentile', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.ApproximatePercentile', isTemporary=True),
 Function(name='array', description=None, className='org.apache.spark.sql.catalyst.expressions.CreateArray', isTemporary=True),
 Function(name='array_contains', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayContains', isTemporary=True),
 Function(name='array_distinct', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayDistinct', isTemporary=True),
 Function(name='array_except', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayExcept', isTemporary=True),
 Function(name='array_intersect', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayIntersect', isTemporary=True),
 Function(name='array_join', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayJoin', isTemporary=True),
 Function(name='array_max', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayMax', isTemporary=True),
 Function(name='array_min', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayMin', isTemporary=True),
 Function(name='array_position', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayPosition', isTemporary=True),
 Function(name='array_remove', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayRemove', isTemporary=True),
 Function(name='array_repeat', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayRepeat', isTemporary=True),
 Function(name='array_sort', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraySort', isTemporary=True),
 Function(name='array_union', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayUnion', isTemporary=True),
 Function(name='arrays_overlap', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraysOverlap', isTemporary=True),
 Function(name='arrays_zip', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraysZip', isTemporary=True),
 Function(name='ascii', description=None, className='org.apache.spark.sql.catalyst.expressions.Ascii', isTemporary=True),
 Function(name='asin', description=None, className='org.apache.spark.sql.catalyst.expressions.Asin', isTemporary=True),
 Function(name='asinh', description=None, className='org.apache.spark.sql.catalyst.expressions.Asinh', isTemporary=True),
 Function(name='assert_true', description=None, className='org.apache.spark.sql.catalyst.expressions.AssertTrue', isTemporary=True),
 Function(name='atan', description=None, className='org.apache.spark.sql.catalyst.expressions.Atan', isTemporary=True),
 Function(name='atan2', description=None, className='org.apache.spark.sql.catalyst.expressions.Atan2', isTemporary=True),
 Function(name='atanh', description=None, className='org.apache.spark.sql.catalyst.expressions.Atanh', isTemporary=True),
 Function(name='avg', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Average', isTemporary=True),
 Function(name='base64', description=None, className='org.apache.spark.sql.catalyst.expressions.Base64', isTemporary=True),
 Function(name='bigint', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='bin', description=None, className='org.apache.spark.sql.catalyst.expressions.Bin', isTemporary=True),
 Function(name='binary', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='bit_and', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitAndAgg', isTemporary=True),
 Function(name='bit_count', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseCount', isTemporary=True),
 Function(name='bit_length', description=None, className='org.apache.spark.sql.catalyst.expressions.BitLength', isTemporary=True),
 Function(name='bit_or', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitOrAgg', isTemporary=True),
 Function(name='bit_xor', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitXorAgg', isTemporary=True),
 Function(name='bool_and', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolAnd', isTemporary=True),
 Function(name='bool_or', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolOr', isTemporary=True),
 Function(name='boolean', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='bround', description=None, className='org.apache.spark.sql.catalyst.expressions.BRound', isTemporary=True),
 Function(name='cardinality', description=None, className='org.apache.spark.sql.catalyst.expressions.Size', isTemporary=True),
 Function(name='cast', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='cbrt', description=None, className='org.apache.spark.sql.catalyst.expressions.Cbrt', isTemporary=True),
 Function(name='ceil', description=None, className='org.apache.spark.sql.catalyst.expressions.Ceil', isTemporary=True),
 Function(name='ceiling', description=None, className='org.apache.spark.sql.catalyst.expressions.Ceil', isTemporary=True),
 Function(name='char', description=None, className='org.apache.spark.sql.catalyst.expressions.Chr', isTemporary=True),
 Function(name='char_length', description=None, className='org.apache.spark.sql.catalyst.expressions.Length', isTemporary=True),
 Function(name='character_length', description=None, className='org.apache.spark.sql.catalyst.expressions.Length', isTemporary=True),
 Function(name='chr', description=None, className='org.apache.spark.sql.catalyst.expressions.Chr', isTemporary=True),
 Function(name='coalesce', description=None, className='org.apache.spark.sql.catalyst.expressions.Coalesce', isTemporary=True),
 Function(name='collect_list', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CollectList', isTemporary=True),
 Function(name='collect_set', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CollectSet', isTemporary=True),
 Function(name='concat', description=None, className='org.apache.spark.sql.catalyst.expressions.Concat', isTemporary=True),
 Function(name='concat_ws', description=None, className='org.apache.spark.sql.catalyst.expressions.ConcatWs', isTemporary=True),
 Function(name='conv', description=None, className='org.apache.spark.sql.catalyst.expressions.Conv', isTemporary=True),
 Function(name='corr', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Corr', isTemporary=True),
 Function(name='cos', description=None, className='org.apache.spark.sql.catalyst.expressions.Cos', isTemporary=True),
 Function(name='cosh', description=None, className='org.apache.spark.sql.catalyst.expressions.Cosh', isTemporary=True),
 Function(name='cot', description=None, className='org.apache.spark.sql.catalyst.expressions.Cot', isTemporary=True),
 Function(name='count', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Count', isTemporary=True),
 Function(name='count_if', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CountIf', isTemporary=True),
 Function(name='count_min_sketch', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CountMinSketchAgg', isTemporary=True),
 Function(name='covar_pop', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CovPopulation', isTemporary=True),
 Function(name='covar_samp', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CovSample', isTemporary=True),
 Function(name='crc32', description=None, className='org.apache.spark.sql.catalyst.expressions.Crc32', isTemporary=True),
 Function(name='cube', description=None, className='org.apache.spark.sql.catalyst.expressions.Cube', isTemporary=True),
 Function(name='cume_dist', description=None, className='org.apache.spark.sql.catalyst.expressions.CumeDist', isTemporary=True),
 Function(name='current_catalog', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentCatalog', isTemporary=True),
 Function(name='current_database', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentDatabase', isTemporary=True),
 Function(name='current_date', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentDate', isTemporary=True),
 Function(name='current_timestamp', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentTimestamp', isTemporary=True),
 Function(name='current_timezone', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentTimeZone', isTemporary=True),
 Function(name='date', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='date_add', description=None, className='org.apache.spark.sql.catalyst.expressions.DateAdd', isTemporary=True),
 Function(name='date_format', description=None, className='org.apache.spark.sql.catalyst.expressions.DateFormatClass', isTemporary=True),
 Function(name='date_from_unix_date', description=None, className='org.apache.spark.sql.catalyst.expressions.DateFromUnixDate', isTemporary=True),
 Function(name='date_part', description=None, className='org.apache.spark.sql.catalyst.expressions.DatePart', isTemporary=True),
 Function(name='date_sub', description=None, className='org.apache.spark.sql.catalyst.expressions.DateSub', isTemporary=True),
 Function(name='date_trunc', description=None, className='org.apache.spark.sql.catalyst.expressions.TruncTimestamp', isTemporary=True),
 Function(name='datediff', description=None, className='org.apache.spark.sql.catalyst.expressions.DateDiff', isTemporary=True),
 Function(name='day', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfMonth', isTemporary=True),
 Function(name='dayofmonth', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfMonth', isTemporary=True),
 Function(name='dayofweek', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfWeek', isTemporary=True),
 Function(name='dayofyear', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfYear', isTemporary=True),
 Function(name='decimal', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='decode', description=None, className='org.apache.spark.sql.catalyst.expressions.Decode', isTemporary=True),
 Function(name='degrees', description=None, className='org.apache.spark.sql.catalyst.expressions.ToDegrees', isTemporary=True),
 Function(name='dense_rank', description=None, className='org.apache.spark.sql.catalyst.expressions.DenseRank', isTemporary=True),
 Function(name='div', description=None, className='org.apache.spark.sql.catalyst.expressions.IntegralDivide', isTemporary=True),
 Function(name='double', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='e', description=None, className='org.apache.spark.sql.catalyst.expressions.EulerNumber', isTemporary=True),
 Function(name='element_at', description=None, className='org.apache.spark.sql.catalyst.expressions.ElementAt', isTemporary=True),
 Function(name='elt', description=None, className='org.apache.spark.sql.catalyst.expressions.Elt', isTemporary=True),
 Function(name='encode', description=None, className='org.apache.spark.sql.catalyst.expressions.Encode', isTemporary=True),
 Function(name='every', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolAnd', isTemporary=True),
 Function(name='exists', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayExists', isTemporary=True),
 Function(name='exp', description=None, className='org.apache.spark.sql.catalyst.expressions.Exp', isTemporary=True),
 Function(name='explode', description=None, className='org.apache.spark.sql.catalyst.expressions.Explode', isTemporary=True),
 Function(name='explode_outer', description=None, className='org.apache.spark.sql.catalyst.expressions.Explode', isTemporary=True),
 Function(name='expm1', description=None, className='org.apache.spark.sql.catalyst.expressions.Expm1', isTemporary=True),
 Function(name='extract', description=None, className='org.apache.spark.sql.catalyst.expressions.Extract', isTemporary=True),
 Function(name='factorial', description=None, className='org.apache.spark.sql.catalyst.expressions.Factorial', isTemporary=True),
 Function(name='filter', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayFilter', isTemporary=True),
 Function(name='find_in_set', description=None, className='org.apache.spark.sql.catalyst.expressions.FindInSet', isTemporary=True),
 Function(name='first', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.First', isTemporary=True),
 Function(name='first_value', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.First', isTemporary=True),
 Function(name='flatten', description=None, className='org.apache.spark.sql.catalyst.expressions.Flatten', isTemporary=True),
 Function(name='float', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='floor', description=None, className='org.apache.spark.sql.catalyst.expressions.Floor', isTemporary=True),
 Function(name='forall', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayForAll', isTemporary=True),
 Function(name='format_number', description=None, className='org.apache.spark.sql.catalyst.expressions.FormatNumber', isTemporary=True),
 Function(name='format_string', description=None, className='org.apache.spark.sql.catalyst.expressions.FormatString', isTemporary=True),
 Function(name='from_csv', description=None, className='org.apache.spark.sql.catalyst.expressions.CsvToStructs', isTemporary=True),
 Function(name='from_json', description=None, className='org.apache.spark.sql.catalyst.expressions.JsonToStructs', isTemporary=True),
 Function(name='from_unixtime', description=None, className='org.apache.spark.sql.catalyst.expressions.FromUnixTime', isTemporary=True),
 Function(name='from_utc_timestamp', description=None, className='org.apache.spark.sql.catalyst.expressions.FromUTCTimestamp', isTemporary=True),
 Function(name='get_json_object', description=None, className='org.apache.spark.sql.catalyst.expressions.GetJsonObject', isTemporary=True),
 Function(name='greatest', description=None, className='org.apache.spark.sql.catalyst.expressions.Greatest', isTemporary=True),
 Function(name='grouping', description=None, className='org.apache.spark.sql.catalyst.expressions.Grouping', isTemporary=True),
 Function(name='grouping_id', description=None, className='org.apache.spark.sql.catalyst.expressions.GroupingID', isTemporary=True),
 Function(name='hash', description=None, className='org.apache.spark.sql.catalyst.expressions.Murmur3Hash', isTemporary=True),
 Function(name='hex', description=None, className='org.apache.spark.sql.catalyst.expressions.Hex', isTemporary=True),
 Function(name='hour', description=None, className='org.apache.spark.sql.catalyst.expressions.Hour', isTemporary=True),
 Function(name='hypot', description=None, className='org.apache.spark.sql.catalyst.expressions.Hypot', isTemporary=True),
 Function(name='if', description=None, className='org.apache.spark.sql.catalyst.expressions.If', isTemporary=True),
 Function(name='ifnull', description=None, className='org.apache.spark.sql.catalyst.expressions.IfNull', isTemporary=True),
 Function(name='in', description=None, className='org.apache.spark.sql.catalyst.expressions.In', isTemporary=True),
 Function(name='initcap', description=None, className='org.apache.spark.sql.catalyst.expressions.InitCap', isTemporary=True),
 Function(name='inline', description=None, className='org.apache.spark.sql.catalyst.expressions.Inline', isTemporary=True),
 Function(name='inline_outer', description=None, className='org.apache.spark.sql.catalyst.expressions.Inline', isTemporary=True),
 Function(name='input_file_block_length', description=None, className='org.apache.spark.sql.catalyst.expressions.InputFileBlockLength', isTemporary=True),
 Function(name='input_file_block_start', description=None, className='org.apache.spark.sql.catalyst.expressions.InputFileBlockStart', isTemporary=True),
 Function(name='input_file_name', description=None, className='org.apache.spark.sql.catalyst.expressions.InputFileName', isTemporary=True),
 Function(name='instr', description=None, className='org.apache.spark.sql.catalyst.expressions.StringInstr', isTemporary=True),

**Miscellaneous functions**

In [24]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, monotonically_increasing_id, when, expr
from pyspark.sql.types import *

data_list = [("Ravi", "28", "1", "2002"),
             ("Abdul", "23", "5", "81"),  # 1981
             ("John", "12", "12", "6"),  # 2006
             ("Rosy", "7", "8", "63"),  # 1963
             ("Abdul", "23", "5", "81")]  # 1981

raw_df = spark.createDataFrame(data_list).toDF("name", "day", "month", "year")
raw_df.printSchema()

root
 |-- name: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- year: string (nullable = true)

In [25]:
#Add a new column

df1 = raw_df.withColumn("id", monotonically_increasing_id())
df1.show(10)

+-----+---+-----+----+----------+
| name|day|month|year|        id|
+-----+---+-----+----+----------+
| Ravi| 28|    1|2002|         0|
|Abdul| 23|    5|  81|         1|
| John| 12|   12|   6|8589934592|
| Rosy|  7|    8|  63|8589934593|
|Abdul| 23|    5|  81|8589934594|
+-----+---+-----+----+----------+

In [26]:
# CASE WHEN and CAST
df2=df1.withColumn("year", expr("""
                                CASE WHEN year < 21  THEN cast(year as int) + 2000
                                     WHEN year < 100 THEN cast(year as int) + 1900
                                     ELSE cast(year as int)
                                END
                                """))
df2.show()

df2=df1.withColumn("year", expr("""
                                CASE WHEN year < 21  THEN year + 2000
                                     WHEN year < 100 THEN year + 1900
                                     ELSE year
                                END
                                """).cast(IntegerType()))
df2.show()

+-----+---+-----+----+----------+
| name|day|month|year|        id|
+-----+---+-----+----+----------+
| Ravi| 28|    1|2002|         0|
|Abdul| 23|    5|1981|         1|
| John| 12|   12|2006|8589934592|
| Rosy|  7|    8|1963|8589934593|
|Abdul| 23|    5|1981|8589934594|
+-----+---+-----+----+----------+

+-----+---+-----+----+----------+
| name|day|month|year|        id|
+-----+---+-----+----+----------+
| Ravi| 28|    1|2002|         0|
|Abdul| 23|    5|1981|         1|
| John| 12|   12|2006|8589934592|
| Rosy|  7|    8|1963|8589934593|
|Abdul| 23|    5|1981|8589934594|
+-----+---+-----+----+----------+

In [27]:
# Cast the fields and alternative WHEN
df3=df1.withColumn("day", col("day").cast(IntegerType())) \
       .withColumn("month", col("month").cast(IntegerType())) \
       .withColumn("year", col("year").cast(IntegerType())) \

df3.printSchema()

df4=df3.withColumn("year", \
                          when(col("year") < 21, col("year") + 2000) \
                        .when(col("year") < 100, col("year") + 1900) \
                        .otherwise(col("year")))
df4.show()

root
 |-- name: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- id: long (nullable = false)

+-----+---+-----+----+----------+
| name|day|month|year|        id|
+-----+---+-----+----+----------+
| Ravi| 28|    1|2002|         0|
|Abdul| 23|    5|1981|         1|
| John| 12|   12|2006|8589934592|
| Rosy|  7|    8|1963|8589934593|
|Abdul| 23|    5|1981|8589934594|
+-----+---+-----+----+----------+

**Add/Remove columns**

In [28]:
df5=df2.withColumn("dob", expr("to_date(concat(day, '/', month, '/', year), 'd/M/y')")) \
       .drop("day", "month", "year") \
       .dropDuplicates(["name", "dob"])

df5.sort(df5.dob.desc()).show()

+-----+----------+----------+
| name|        id|       dob|
+-----+----------+----------+
| John|8589934592|2006-12-12|
| Ravi|         0|2002-01-28|
|Abdul|         1|1981-05-23|
| Rosy|8589934593|1963-08-07|
+-----+----------+----------+

**Aggregation**

In [29]:
from pyspark.sql import functions as f
url='https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/invoices.csv'

spark.sparkContext.addFile(url)

invoice_df=spark.read \
                    .format("csv") \
                    .option("header", "true") \
                    .option("mode", "FAILFAST") \
                    .option("inferSchema", "true") \
                    .load('file://'+SparkFiles.get("invoices.csv"))

invoice_df.show(10)

invoice_df.select(f.count("*").alias("Count *"),
                  f.sum("Quantity").alias("TotalQuantity"),
                  f.avg("UnitPrice").alias("AvgPrice"),
                  f.countDistinct("InvoiceNo").alias("CountDistinct")
                  ).show()

invoice_df.selectExpr(
                  "count(1) as `count 1`",
                  "count(StockCode) as `count field`",
                  "sum(Quantity) as TotalQuantity",
                  "avg(UnitPrice) as AvgPrice"
                ).show()

invoice_df.createOrReplaceTempView("sales")
summary_sql = spark.sql("""
      SELECT Country, InvoiceNo,
            sum(Quantity) as TotalQuantity,
            round(sum(Quantity*UnitPrice),2) as InvoiceValue
      FROM sales
      GROUP BY Country, InvoiceNo""")
summary_sql.show()

summary_df = invoice_df \
    .groupBy("Country", "InvoiceNo") \
    .agg(f.sum("Quantity").alias("TotalQuantity"),
         f.round(f.sum(f.expr("Quantity * UnitPrice")), 2).alias("InvoiceValue"),
         f.expr("round(sum(Quantity * UnitPrice),2) as InvoiceValueExpr")
         )
summary_df.show()

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|   536365|     null|WHITE HANGING HEA...|       6|01-12-2010 8.26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|01-12-2010 8.26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|01-12-2010 8.26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|01-12-2010 8.26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|01-12-2010 8.26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|01-12-2010 8.26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|01-12-2010 8.26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|01-12-2010 8.28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|01-12-2010 8.28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|01-12-2010 8.34|     1.69|     13047|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 10 rows

+-------+-------------+-----------------+-------------+
|Count *|TotalQuantity|         AvgPrice|CountDistinct|
+-------+-------------+-----------------+-------------+
| 541909|      5176450|4.611113626088487|        25900|
+-------+-------------+-----------------+-------------+

+-------+-----------+-------------+----------------+
|count 1|count field|TotalQuantity|        AvgPrice|
+-------+-----------+-------------+----------------+
| 541909|     541908|      5176450|4.61111362608295|
+-------+-----------+-------------+----------------+

+--------------+---------+-------------+------------+
|       Country|InvoiceNo|TotalQuantity|InvoiceValue|
+--------------+---------+-------------+------------+
|United Kingdom|   536365|           40|      139.12|
|United Kingdom|   536367|           83|      278.73|
|United Kingdom|   536368|           15|       70.05|
|United Kingdom|   536369|            3|       17.85|
|        France|   536370|          449|      855.86|
|United Kingdom|   536374|           32|       350.4|
|United Kingdom|   536375|           88|      259.86|
|United Kingdom|   536377|           12|        22.2|
|United Kingdom|   536378|          454|      444.98|
|United Kingdom|   536381|          198|      449.98|
|United Kingdom|  C536379|           -1|       -27.5|
|United Kingdom|   536382|          134|       430.6|
|United Kingdom|  C536383|           -1|       -4.65|
|United Kingdom|   536385|           53|      130.85|
|United Kingdom|   536387|         1440|     3193.92|
|United Kingdom|   536388|          108|      226.14|
|     Australia|   536389|          107|      358.25|
|United Kingdom|  C536391|         -132|     -141.48|
|United Kingdom|   536397|           60|       279.0|
|United Kingdom|   536400|           12|        17.4|
+--------------+---------+-------------+------------+
only showing top 20 rows

+--------------+---------+-------------+------------+----------------+
|       Country|InvoiceNo|TotalQuantity|InvoiceValue|InvoiceValueExpr|
+--------------+---------+-------------+------------+----------------+
|United Kingdom|   536365|           40|      139.12|          139.12|
|United Kingdom|   536367|           83|      278.73|          278.73|
|United Kingdom|   536368|           15|       70.05|           70.05|
|United Kingdom|   536369|            3|       17.85|           17.85|
|        France|   536370|          449|      855.86|          855.86|
|United Kingdom|   536374|           32|       350.4|           350.4|
|United Kingdom|   536375|           88|      259.86|          259.86|
|United Kingdom|   536377|           12|        22.2|            22.2|
|United Kingdom|   536378|          454|      444.98|          444.98|
|United Kingdom|   536381|          198|      449.98|          449.98|
|United Kingdom|  C536379|           -1|       -27.5|           -27.5|
|United Kingdom|   536382|          134|       430.6|           430.6|
|United Kingdom|  C536383|           -1|       -4.65|           -4.65|
|United Kingdom|   536385|           53|      130.85|          130.85|
|United Kingdom|   536387|         1440|     3193.92|         3193.92|
|United Kingdom|   536388|          108|      226.14|          226.14|
|     Australia|   536389|          107|      358.25|          358.25|
|United Kingdom|  C536391|         -132|     -141.48|         -141.48|
|United Kingdom|   536397|           60|       279.0|           279.0|
|United Kingdom|   536400|           12|        17.4|            17.4|
+--------------+---------+-------------+------------+----------------+
only showing top 20 rows

**Group By**

In [30]:
from pyspark.sql import functions as f
url='https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/invoices.csv'

spark.sparkContext.addFile(url)

invoice_df=spark.read \
                    .format("csv") \
                    .option("header", "true") \
                    .option("mode", "FAILFAST") \
                    .option("inferSchema", "true") \
                    .load('file://'+SparkFiles.get("invoices.csv"))

invoice_df.show(10)

NumInvoices = f.countDistinct("InvoiceNo").alias("NumInvoices")
TotalQuantity = f.sum("Quantity").alias("TotalQuantity")
InvoiceValue = f.expr("round(sum(Quantity * UnitPrice),2) as InvoiceValue")

exSummary_df = invoice_df \
    .withColumn("InvoiceDate", f.to_date(f.col("InvoiceDate"), "dd-MM-yyyy H.mm")) \
    .where("year(InvoiceDate) == 2010") \
    .withColumn("WeekNumber", f.weekofyear(f.col("InvoiceDate"))) \
    .groupBy("Country", "WeekNumber") \
    .agg(NumInvoices, TotalQuantity, InvoiceValue)

exSummary_df.sort("Country", "WeekNumber").show()

exSummary_df.coalesce(1) \
    .write \
    .format("parquet") \
    .mode("overwrite") \
    .save("output")

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|   536365|     null|WHITE HANGING HEA...|       6|01-12-2010 8.26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|01-12-2010 8.26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|01-12-2010 8.26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|01-12-2010 8.26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|01-12-2010 8.26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|01-12-2010 8.26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|01-12-2010 8.26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|01-12-2010 8.28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|01-12-2010 8.28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|01-12-2010 8.34|     1.69|     13047|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 10 rows

+---------------+----------+-----------+-------------+------------+
|        Country|WeekNumber|NumInvoices|TotalQuantity|InvoiceValue|
+---------------+----------+-----------+-------------+------------+
|      Australia|        48|          1|          107|      358.25|
|      Australia|        49|          1|          214|       258.9|
|      Australia|        50|          2|          133|      387.95|
|        Austria|        50|          2|            3|      257.04|
|        Bahrain|        51|          1|           54|      205.74|
|        Belgium|        48|          1|          528|       346.1|
|        Belgium|        50|          2|          285|      625.16|
|        Belgium|        51|          2|          942|      838.65|
|Channel Islands|        49|          1|           80|      363.53|
|         Cyprus|        50|          1|          917|     1590.82|
|        Denmark|        49|          1|          454|      1281.5|
|           EIRE|        48|          7|         2822|     3147.23|
|           EIRE|        49|          5|         1280|      3284.1|
|           EIRE|        50|          5|         1184|     2321.78|
|           EIRE|        51|          5|           95|      276.84|
|        Finland|        50|          1|         1254|       892.8|
|         France|        48|          4|         1299|     2808.16|
|         France|        49|          9|         2303|     4527.01|
|         France|        50|          6|          529|      537.32|
|         France|        51|          5|          847|     1702.87|
+---------------+----------+-----------+-------------+------------+
only showing top 20 rows

In [31]:
!ls -l output/

total 4
-rw-r--r-- 1 root root 2499 Apr 13 06:03 part-00000-371fba1a-007f-4447-bbfe-44310fbac52c-c000.snappy.parquet
-rw-r--r-- 1 root root    0 Apr 13 06:03 _SUCCESS

**Windowing**

In [32]:
from pyspark.sql import functions as f
url='https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/summary.parquet'

spark.sparkContext.addFile(url)

summary_df=spark.read \
                    .format("parquet") \
                    .load('file://'+SparkFiles.get("summary.parquet"))

summary_df.sort("Country", "WeekNumber").show()

running_total_window = Window.partitionBy("Country") \
    .orderBy("WeekNumber") \
    .rowsBetween(Window.unboundedPreceding, Window.currentRow)

summary_df.withColumn("RunningTotal",
                      f.sum("InvoiceValue").over(running_total_window)) \
    .sort("Country", "WeekNumber").show()

+---------------+----------+-----------+-------------+------------+
|        Country|WeekNumber|NumInvoices|TotalQuantity|InvoiceValue|
+---------------+----------+-----------+-------------+------------+
|      Australia|        48|          1|          107|      358.25|
|      Australia|        49|          1|          214|       258.9|
|      Australia|        50|          2|          133|      387.95|
|        Austria|        50|          2|            3|      257.04|
|        Bahrain|        51|          1|           54|      205.74|
|        Belgium|        48|          1|          528|       346.1|
|        Belgium|        50|          2|          285|      625.16|
|        Belgium|        51|          2|          942|      838.65|
|Channel Islands|        49|          1|           80|      363.53|
|         Cyprus|        50|          1|          917|     1590.82|
|        Denmark|        49|          1|          454|      1281.5|
|           EIRE|        48|          7|         2822|     3147.23|
|           EIRE|        49|          5|         1280|      3284.1|
|           EIRE|        50|          5|         1184|     2321.78|
|           EIRE|        51|          5|           95|      276.84|
|        Finland|        50|          1|         1254|       892.8|
|         France|        48|          4|         1299|     2808.16|
|         France|        49|          9|         2303|     4527.01|
|         France|        50|          6|          529|      537.32|
|         France|        51|          5|          847|     1702.87|
+---------------+----------+-----------+-------------+------------+
only showing top 20 rows

+---------------+----------+-----------+-------------+------------+------------------+
|        Country|WeekNumber|NumInvoices|TotalQuantity|InvoiceValue|      RunningTotal|
+---------------+----------+-----------+-------------+------------+------------------+
|      Australia|        48|          1|          107|      358.25|            358.25|
|      Australia|        49|          1|          214|       258.9|            617.15|
|      Australia|        50|          2|          133|      387.95|1005.0999999999999|
|        Austria|        50|          2|            3|      257.04|            257.04|
|        Bahrain|        51|          1|           54|      205.74|            205.74|
|        Belgium|        48|          1|          528|       346.1|             346.1|
|        Belgium|        50|          2|          285|      625.16|            971.26|
|        Belgium|        51|          2|          942|      838.65|1809.9099999999999|
|Channel Islands|        49|          1|           80|      363.53|            363.53|
|         Cyprus|        50|          1|          917|     1590.82|           1590.82|
|        Denmark|        49|          1|          454|      1281.5|            1281.5|
|           EIRE|        48|          7|         2822|     3147.23|           3147.23|
|           EIRE|        49|          5|         1280|      3284.1|           6431.33|
|           EIRE|        50|          5|         1184|     2321.78|           8753.11|
|           EIRE|        51|          5|           95|      276.84|           9029.95|
|        Finland|        50|          1|         1254|       892.8|             892.8|
|         France|        48|          4|         1299|     2808.16|           2808.16|
|         France|        49|          9|         2303|     4527.01|           7335.17|
|         France|        50|          6|          529|      537.32|           7872.49|
|         France|        51|          5|          847|     1702.87|           9575.36|
+---------------+----------+-----------+-------------+------------+------------------+
only showing top 20 rows

**Ranking**

In [33]:
from pyspark.sql import functions as f
url='https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/summary.parquet'

spark.sparkContext.addFile(url)

summary_df=spark.read \
                    .format("parquet") \
                    .load('file://'+SparkFiles.get("summary.parquet"))

summary_df.sort("Country", "WeekNumber").show()

rank_window = Window.partitionBy("Country") \
        .orderBy(f.col("InvoiceValue").desc()) \
        .rowsBetween(Window.unboundedPreceding, Window.currentRow)

df = summary_df.withColumn("Rank", f.dense_rank().over(rank_window)) \
    .where(f.col("Rank") <= 2) \
    .sort("Country", "Rank") \
    .show()

+---------------+----------+-----------+-------------+------------+
|        Country|WeekNumber|NumInvoices|TotalQuantity|InvoiceValue|
+---------------+----------+-----------+-------------+------------+
|      Australia|        48|          1|          107|      358.25|
|      Australia|        49|          1|          214|       258.9|
|      Australia|        50|          2|          133|      387.95|
|        Austria|        50|          2|            3|      257.04|
|        Bahrain|        51|          1|           54|      205.74|
|        Belgium|        48|          1|          528|       346.1|
|        Belgium|        50|          2|          285|      625.16|
|        Belgium|        51|          2|          942|      838.65|
|Channel Islands|        49|          1|           80|      363.53|
|         Cyprus|        50|          1|          917|     1590.82|
|        Denmark|        49|          1|          454|      1281.5|
|           EIRE|        48|          7|         2822|     3147.23|
|           EIRE|        49|          5|         1280|      3284.1|
|           EIRE|        50|          5|         1184|     2321.78|
|           EIRE|        51|          5|           95|      276.84|
|        Finland|        50|          1|         1254|       892.8|
|         France|        48|          4|         1299|     2808.16|
|         France|        49|          9|         2303|     4527.01|
|         France|        50|          6|          529|      537.32|
|         France|        51|          5|          847|     1702.87|
+---------------+----------+-----------+-------------+------------+
only showing top 20 rows

+---------------+----------+-----------+-------------+------------+----+
|        Country|WeekNumber|NumInvoices|TotalQuantity|InvoiceValue|Rank|
+---------------+----------+-----------+-------------+------------+----+
|      Australia|        50|          2|          133|      387.95|   1|
|      Australia|        48|          1|          107|      358.25|   2|
|        Austria|        50|          2|            3|      257.04|   1|
|        Bahrain|        51|          1|           54|      205.74|   1|
|        Belgium|        51|          2|          942|      838.65|   1|
|        Belgium|        50|          2|          285|      625.16|   2|
|Channel Islands|        49|          1|           80|      363.53|   1|
|         Cyprus|        50|          1|          917|     1590.82|   1|
|        Denmark|        49|          1|          454|      1281.5|   1|
|           EIRE|        49|          5|         1280|      3284.1|   1|
|           EIRE|        48|          7|         2822|     3147.23|   2|
|        Finland|        50|          1|         1254|       892.8|   1|
|         France|        49|          9|         2303|     4527.01|   1|
|         France|        48|          4|         1299|     2808.16|   2|
|        Germany|        50|         15|         1973|     5065.79|   1|
|        Germany|        49|         12|         1852|     4521.39|   2|
|        Iceland|        49|          1|          319|      711.79|   1|
|         Israel|        50|          1|          -56|     -227.44|   1|
|          Italy|        48|          1|          164|       427.8|   1|
|          Italy|        51|          1|          131|       383.7|   2|
+---------------+----------+-----------+-------------+------------+----+
only showing top 20 rows

**Joins**

In [34]:
    orders_list = [("01", "02", 350, 1),
                   ("01", "04", 580, 1),
                   ("01", "07", 320, 2),
                   ("02", "03", 450, 1),
                   ("02", "06", 220, 1),
                   ("03", "01", 195, 1),
                   ("04", "09", 270, 3),
                   ("04", "08", 410, 2),
                   ("05", "02", 350, 1)]

    order_df = spark.createDataFrame(orders_list).toDF("order_id", "prod_id", "unit_price", "qty")

    product_list = [("01", "Scroll Mouse", 250, 20),
                    ("02", "Optical Mouse", 350, 20),
                    ("03", "Wireless Mouse", 450, 50),
                    ("04", "Wireless Keyboard", 580, 50),
                    ("05", "Standard Keyboard", 360, 10),
                    ("06", "16 GB Flash Storage", 240, 100),
                    ("07", "32 GB Flash Storage", 320, 50),
                    ("08", "64 GB Flash Storage", 430, 25)]

    product_df = spark.createDataFrame(product_list).toDF("prod_id", "prod_name", "list_price", "qty")

    product_df.show()
    order_df.show()

    join_expr = order_df.prod_id == product_df.prod_id

    product_renamed_df = product_df.withColumnRenamed("qty", "reorder_qty")

    order_df.join(product_renamed_df, join_expr, "inner") \
        .drop(product_renamed_df.prod_id) \
        .select("order_id", "prod_id", "prod_name", "unit_price", "list_price", "qty") \
        .show()

+-------+-------------------+----------+---+
|prod_id|          prod_name|list_price|qty|
+-------+-------------------+----------+---+
|     01|       Scroll Mouse|       250| 20|
|     02|      Optical Mouse|       350| 20|
|     03|     Wireless Mouse|       450| 50|
|     04|  Wireless Keyboard|       580| 50|
|     05|  Standard Keyboard|       360| 10|
|     06|16 GB Flash Storage|       240|100|
|     07|32 GB Flash Storage|       320| 50|
|     08|64 GB Flash Storage|       430| 25|
+-------+-------------------+----------+---+

+--------+-------+----------+---+
|order_id|prod_id|unit_price|qty|
+--------+-------+----------+---+
|      01|     02|       350|  1|
|      01|     04|       580|  1|
|      01|     07|       320|  2|
|      02|     03|       450|  1|
|      02|     06|       220|  1|
|      03|     01|       195|  1|
|      04|     09|       270|  3|
|      04|     08|       410|  2|
|      05|     02|       350|  1|
+--------+-------+----------+---+

+--------+-------+-------------------+----------+----------+---+
|order_id|prod_id|          prod_name|unit_price|list_price|qty|
+--------+-------+-------------------+----------+----------+---+
|      03|     01|       Scroll Mouse|       195|       250|  1|
|      01|     04|  Wireless Keyboard|       580|       580|  1|
|      02|     06|16 GB Flash Storage|       220|       240|  1|
|      01|     07|32 GB Flash Storage|       320|       320|  2|
|      01|     02|      Optical Mouse|       350|       350|  1|
|      05|     02|      Optical Mouse|       350|       350|  1|
|      02|     03|     Wireless Mouse|       450|       450|  1|
|      04|     08|64 GB Flash Storage|       410|       430|  2|
+--------+-------+-------------------+----------+----------+---+

In [35]:
    orders_list = [("01", "02", 350, 1),
                   ("01", "04", 580, 1),
                   ("01", "07", 320, 2),
                   ("02", "03", 450, 1),
                   ("02", "06", 220, 1),
                   ("03", "01", 195, 1),
                   ("04", "09", 270, 3),
                   ("04", "08", 410, 2),
                   ("05", "02", 350, 1)]

    order_df = spark.createDataFrame(orders_list).toDF("order_id", "prod_id", "unit_price", "qty")

    product_list = [("01", "Scroll Mouse", 250, 20),
                    ("02", "Optical Mouse", 350, 20),
                    ("03", "Wireless Mouse", 450, 50),
                    ("04", "Wireless Keyboard", 580, 50),
                    ("05", "Standard Keyboard", 360, 10),
                    ("06", "16 GB Flash Storage", 240, 100),
                    ("07", "32 GB Flash Storage", 320, 50),
                    ("08", "64 GB Flash Storage", 430, 25)]

    product_df = spark.createDataFrame(product_list).toDF("prod_id", "prod_name", "list_price", "qty")

    product_df.show()
    order_df.show()

    join_expr = order_df.prod_id == product_df.prod_id

    product_renamed_df = product_df.withColumnRenamed("qty", "reorder_qty")

    order_df.join(product_renamed_df, join_expr, "left") \
        .drop(product_renamed_df.prod_id) \
        .select("order_id", "prod_id", "prod_name", "unit_price", "list_price", "qty") \
        .withColumn("prod_name", expr("coalesce(prod_name, prod_id)")) \
        .withColumn("list_price", expr("coalesce(list_price, unit_price)")) \
        .sort("order_id") \
        .show()

+-------+-------------------+----------+---+
|prod_id|          prod_name|list_price|qty|
+-------+-------------------+----------+---+
|     01|       Scroll Mouse|       250| 20|
|     02|      Optical Mouse|       350| 20|
|     03|     Wireless Mouse|       450| 50|
|     04|  Wireless Keyboard|       580| 50|
|     05|  Standard Keyboard|       360| 10|
|     06|16 GB Flash Storage|       240|100|
|     07|32 GB Flash Storage|       320| 50|
|     08|64 GB Flash Storage|       430| 25|
+-------+-------------------+----------+---+

+--------+-------+----------+---+
|order_id|prod_id|unit_price|qty|
+--------+-------+----------+---+
|      01|     02|       350|  1|
|      01|     04|       580|  1|
|      01|     07|       320|  2|
|      02|     03|       450|  1|
|      02|     06|       220|  1|
|      03|     01|       195|  1|
|      04|     09|       270|  3|
|      04|     08|       410|  2|
|      05|     02|       350|  1|
+--------+-------+----------+---+

+--------+-------+-------------------+----------+----------+---+
|order_id|prod_id|          prod_name|unit_price|list_price|qty|
+--------+-------+-------------------+----------+----------+---+
|      01|     04|  Wireless Keyboard|       580|       580|  1|
|      01|     07|32 GB Flash Storage|       320|       320|  2|
|      01|     02|      Optical Mouse|       350|       350|  1|
|      02|     03|     Wireless Mouse|       450|       450|  1|
|      02|     06|16 GB Flash Storage|       220|       240|  1|
|      03|     01|       Scroll Mouse|       195|       250|  1|
|      04|     09|                 09|       270|       270|  3|
|      04|     08|64 GB Flash Storage|       410|       430|  2|
|      05|     02|      Optical Mouse|       350|       350|  1|
+--------+-------+-------------------+----------+----------+---+

**Shuffle Join**

In [36]:
!mkdir data data/d1 data/d2
!wget -O data/d1/part-00000-00af64b6-7ef5-4909-8f82-b8897114efaf-c000.json https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/d1/part-00000-00af64b6-7ef5-4909-8f82-b8897114efaf-c000.json > /dev/null 2>&1
!wget -O data/d1/part-00001-00af64b6-7ef5-4909-8f82-b8897114efaf-c000.json https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/d1/part-00001-00af64b6-7ef5-4909-8f82-b8897114efaf-c000.json > /dev/null 2>&1
!wget -O data/d1/part-00002-00af64b6-7ef5-4909-8f82-b8897114efaf-c000.json https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/d1/part-00002-00af64b6-7ef5-4909-8f82-b8897114efaf-c000.json > /dev/null 2>&1 

!wget -O data/d2/part-00000-ee8814fd-bbb7-4a16-912b-f74b04a6d4fa-c000.json https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/Spark-Programming-In-Python-master/19-ShuffleJoinDemo/data/d2/part-00000-ee8814fd-bbb7-4a16-912b-f74b04a6d4fa-c000.json > /dev/null 2>&1
!wget -O data/d2/part-00001-ee8814fd-bbb7-4a16-912b-f74b04a6d4fa-c000.json https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/d1/part-00001-ee8814fd-bbb7-4a16-912b-f74b04a6d4fa-c000.json > /dev/null 2>&1
!wget -O data/d2/part-00002-ee8814fd-bbb7-4a16-912b-f74b04a6d4fa-c000.json https://raw.githubusercontent.com/sku1978/sk-share-repo/main/Spark/SparkDataFrame/data/d1/part-00002-ee8814fd-bbb7-4a16-912b-f74b04a6d4fa-c000.json > /dev/null 2>&1

In [40]:
flight_time_df1 = spark.read.json("data/d1/")
flight_time_df2 = spark.read.json("data/d2/")

spark.conf.set("spark.sql.shuffle.partitions", 3)

join_expr = flight_time_df1.id == flight_time_df2.id
join_df = flight_time_df1.join(flight_time_df2, join_expr, "inner")
join_df.explain()

== Physical Plan ==
*(5) SortMergeJoin [id#2812L], [id#2836L], Inner
:- *(2) Sort [id#2812L ASC NULLS FIRST], false, 0
:  +- Exchange hashpartitioning(id#2812L, 3), ENSURE_REQUIREMENTS, [id=#1185]
:     +- *(1) Filter isnotnull(id#2812L)
:        +- FileScan json [DEST#2805,DEST_CITY_NAME#2806,FL_DATE#2807,OP_CARRIER#2808,OP_CARRIER_FL_NUM#2809L,ORIGIN#2810,ORIGIN_CITY_NAME#2811,id#2812L] Batched: false, DataFilters: [isnotnull(id#2812L)], Format: JSON, Location: InMemoryFileIndex[file:/content/data/d1], PartitionFilters: [], PushedFilters: [IsNotNull(id)], ReadSchema: struct<DEST:string,DEST_CITY_NAME:string,FL_DATE:string,OP_CARRIER:string,OP_CARRIER_FL_NUM:bigin...
+- *(4) Sort [id#2836L ASC NULLS FIRST], false, 0
   +- Exchange hashpartitioning(id#2836L, 3), ENSURE_REQUIREMENTS, [id=#1193]
      +- *(3) Filter isnotnull(id#2836L)
         +- FileScan json [ARR_TIME#2828L,CANCELLED#2829L,CRS_ARR_TIME#2830L,CRS_DEP_TIME#2831L,DEP_TIME#2832L,DISTANCE#2833L,TAXI_IN#2834L,WHEELS_ON#2835L,id#2836L] Batched: false, DataFilters: [isnotnull(id#2836L)], Format: JSON, Location: InMemoryFileIndex[file:/content/data/d2], PartitionFilters: [], PushedFilters: [IsNotNull(id)], ReadSchema: struct<ARR_TIME:bigint,CANCELLED:bigint,CRS_ARR_TIME:bigint,CRS_DEP_TIME:bigint,DEP_TIME:bigint,D...

**View Log**

In [ ]:
!cat app-logs/sparklog.log